// style.scss
// ==========

//Core partials
@import "variables";
@import "base";

body { color: black;  }

#top {
    background-color: #ffffff;
}

.text-shadow {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


.navbar-light .navbar-nav .nav-link { color: white; }
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link { color: white; }
.navbar-dark .navbar-nav .nav-link { color: white; }
.dropdown-menu { background-color: #d0021b; }
.dropdown-item { color: white; }
.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: #ab0715;
}

#mybreadcrumb {
    text-align:center;
    font-size: .8rem;
    background-color:#e9ecef;
}
#mybreadcrum nav {
    background-color: transparent;
}
#mybreadcrumb .breadcrumb {
    padding: .55rem .5rem;
    margin-bottom: 0;
}


.darkenBgImg {
background-color: rgba(0, 0, 0, 0.7);
}

.bg-red {
  background-color: #e60012;
}


.underline {
   text-decoration: none; 
   position: relative; 
 }   

.underline:after {
  position: absolute;
  content: '';
  height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -2px; 
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  border: 1px solid;
}


#produk span.underline:after {
  box-shadow: 1px 2px #888888;
}
#produk span.underline:after,
#beritaevents span.underline:after,
#profil span.underline:after {
    background-color: #9f0619;
}
#service span.underline:after {
    background-color: white;
}




/* Section Welcome */

section#welcome {
  color: white;
  background-image: url('../images/main-banner/mitsubishi-motors-fuso.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-color:#fdfcf9;
  height: 30rem;
}


/*
section#dealer {
  background-color: white;
}*/



/* Section Produk */

#produk {
  background-color: #ffffff;
}

#produk h2,
#produk h3 {
    color: #d0021b;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .9);
}


#produk p {
    color: #3A3935;
}

#produk .card {
  background: transparent;
  border: none;
}
.btn-produk {
    color: white;
    background-color: #9f0619;
    border-color: #9f0619;
}

a.btn-produk:hover,
a.btn-produk:focus {
    color: white;
}



/* Section Service */
.parallax-window {
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
}

#service {
color: white;
}

#service img {
display: block;
max-width: 300px;
}

#service .swiper-wrapper:hover {
cursor: e-resize;
}

/* Section Berita Events */
#beritaevents {
    background-color: #ffffff;
}

#beritaevents h2 {
    color: #D0021B;
}

#beritaevents .btn-primary,
#highlight .btn-primary {
  background-color: #D0021B;
  border-color: #D0021B;
}

#beritaevents .page-link {
  color: #5a5a5a;
}


/* Section Profil Perusahaan */
#profil {
    background-color: #ffffff;
}

#profil h2,
#profil h3{
    color: #D0021B;
}

#company-profile .bg-text {
background: #f5f5f5;
}

#company-profile #accordion .card {
    border: none;
    margin-bottom: 5px;
}

#company-profile #accordion .card .btn-link {
    color: white;
    font-weight: bold;
}

#company-profile .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #e60012;
    border-bottom: 1px solid rgba(122, 0, 10, 0.8);
}

#company-profile .card-body {
    background-color: #353535;
    color: white;
}

#company-profile address {
    font-size: 0.8rem;
}

#company-profile address svg {
    width: 0.8rem;
}

#company-profile .card-body ul li {
    margin-bottom: 5px;
}

#company-profile .card-body a,
#company-profile .card-body a:focus,
#company-profile .card-body a:hover {
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #e60012;
    border-color: rgba(230, 0, 18, 0.6) rgba(230, 0, 18, 0.6) rgba(230, 0, 18, 0.6);
}

.nav-tabs {
    border-bottom: 1px solid rgba(230, 0, 18, 0.6);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: rgba(230, 0, 18, 0.6) rgba(230, 0, 18, 0.6) rgba(230, 0, 18, 0.6);
}

.nav-tabs a {
    color: black;
}

#map_wrapper { height: 600px; width: 100vw; margin-left: calc(-50vw + 50%); }
#map_canvas { width: 100%; height: 100%; }


/* Section Hubungi Kami */
#contact-us h2 {
    color: #D0021B;
}



/* Section Footer */
footer {
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
    color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    font-size: .9rem;
}


footer section#aboutus h4 {
  font-size: .95rem;
  color: white;
}

footer section#aboutus h5 {
  font-size: .93rem;
}

footer section#aboutus a,
aboutus a:hover, aboutus a:focus {
  color: inherit;
}

section#aboutus ul {
  padding: .8em;
}

footer section#aboutus ul li {
  list-style-type: none;
  margin-bottom: 5px;
}


footer section#aboutus ul li a,
footer section#aboutus ul li a:hover,
footer section#aboutus ul li a:focus {
  color: white;
}

.footer-dealer-list li {
  margin-bottom: 15px;
}

.footer-dealer-list li img {
  vertical-align: middle;
}

footer ul.medsos {
  margin: 0;
  padding: 0 !important;
}
.medsos svg, #aboutus svg { vertical-align: middle; }


footer ul.footer-dealer-list li {
  background: url("../images/logo/mitsubishi-small-icon.png") no-repeat left top;
  background-size: 20px auto;
  padding: 0px 0px 3px 23px;
  
}

.copyright {
  display: flex;
  flex-direction: row;
}
.copyright div:first-of-type {
  margin-right: auto !important;
}






/* halaman dealer */
section#dealer {
color: white;
background-image: url('../images/motors/title-head-page/bg3.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 15rem;
}
section#branch .card-title {
color: #e60012;
}
section#branch address {
font-size: .9rem;
}
section#branch address svg {
width: .9rem;
}
section#branch address span a {
color: inherit;
}
section#about-dealer img {
max-height: 200px;
height: 100%;
}



/* Contact Us*/
#contact-us .btn-primary {
background-color: #e60012;
border: #e60012;
}
#contact-us input.form-control,
#contact-us textarea.form-control {
background-color: #f1f1f1;
}



/* Halaman Motors */
section#ourcar,
section#highlight {
    color: white;
    background-color: #282828;
}


.s-promo .bg-desc-promo {
  background-color: #000000;
}



.informasi-produk {
    background-color: #D0021B;
    color: white;
}
.informasi-produk h3.judul-informasi-produk {
    font-size: 1rem;
}
.informasi-produk p.deskripsi-informasi-produk {
    font-size: .8rem;
}



#mySlideshow .swiper-container {

}

.fullwidth {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}


/* Single Motors Page */

.s-opsi-warna .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }
.s-opsi-warna .swiper-pagination-bullet-active {
    width: 30px;
    height: 30px;
  }

  .s-opsi-warna .swiper-pagination-bullets {
    bottom: 5rem;
  }

.s-opsi-warna img {
  width:100%;
  max-width:850px;
}

.s-opsi-warna figcaption {
    font-size: 1.2rem;
    color: black;
    bottom: 6.5rem;
}

.mirageColor-0 {
  background-color: #850d24 !important;
  color: #850d24 !important;
}
.mirageColor-1 {
  background-color: #1B1B1D !important;
  color: #1B1B1D !important;
}
.mirageColor-2 {
  background-color: #b1111a !important;
  color: #b1111a !important;
}
.mirageColor-3 {
  background-color: #f3f3f6 !important;
  color: #f3f3f6 !important;
}
.mirageColor-4 {
  background-color: #3c3638 !important;
  color: #3c3638 !important;
}


/*------ Swiper Produk - Mitusibishi Motors ---------*/
.s-produk {
    position: relative;
}
.s-produk .overlays {
    position: absolute;
    bottom: 0;
    background-color: rgba(208, 2, 27, .6);
    width:100%;
    text-align: center;
    font-weight: bold;
}

/*------- Swiper Produk - Mitusibishi Motors ---------*/
.s-fitur-produk {
  position: relative;
  overflow:hidden;
}

.s-fitur-produk .fitur-produk-overlay {
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top:0;
  background: rgba(208, 2, 27, .8);
}

.text-fitur-produk-overlay {
  font-size: .9rem;
  text-align:center;
  position: relative;
}

.text-fitur-produk-overlay h3 {
  font-size: .95rem;
}

.text-fitur-produk-overlay i {
    cursor: pointer;
    font-size: 1.5rem;
}


.s-gallery-produk .swiper-button-next,
.s-gallery-produk .swiper-button-prev {
  width: 6.25rem;
  height: 4.375rem;
  background-color: #D0021B;
  color: white;
  background-image: none;
}

.s-gallery-produk .swiper-button-next svg,
.s-gallery-produk .swiper-button-prev svg {
  width: 6.25rem;
  height: 4.375rem;
}

#spec .card h5 a {
    color: #D0021B;
}


/*
FUSO COLOR SCHEME
#E8CB4C
#7D787E
#DCC08E
#31322D
#CDB02E
*/


/* Article */
.headtitle {
  background-image: url('../images/motors/title-head-page/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: white;
}


#artikel-terkait {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #F5F5F5;
}

#artikel-terkait h2 {
  color: #D0021B;
}

#artikel-terkait a.btn {
  background-color: #D0021B;
  border: 1px solid #D0021B;
}




/*
<576px  
≥576px  sm
≥768px  md
≥992px  lg
≥1200px xl
*/

/* Media Query */


@media (max-width: 992px) {
  .logo-dipo {
    margin-right: auto;
    margin-left: auto;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .copyright div:first-of-type {
    margin-right: 0 !important;
  }


}

@media (max-width: 768px) {
  .copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .copyright div:first-of-type {
    margin-right: 0 !important;
  }
}

@media (max-width: 576px) {

}


